.Javascript{
    font-size: 30px;
    color: yellow;
    background-color: black;
    margin: 5px;
}

.Html{
    color:orange;
    font-size: 28px;
    margin: 5px;
}

.Css{
    color:blue;
    font-size:28px;
    margin: 5px;
}